.form-event {
    background-color: #212121;
    padding: 32px 28px;
    margin: auto
}

.label {
    color: white;
    padding: 24px 0px 6px 0px;
    margin-top: 8px;

}

.input {
    border: 1px solid #4A4949;
    padding: 6px 0 0 8px;

}

.input::placeholder {
    color: #4A4949;
}

.body {
    background-color: #06151A;

}

.button {
    font-weight: 800;
}

* {
    font-family: "work Sans", "sans-serif";
}


.container {
    margin: 0 auto;
    max-width: 90%;
}

.eventos {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
}